
<div class="padding-{{ section.id }}">
  <div class="page-width-inner">
    {% if section.settings.heading != blank %}
        {% render "text-with-logo"
          , text: section.settings.heading
          , css_class: "h2 page-width mb-3 custom-heading" %}
      {% endif %}

    <div class="media-grid--grid-{{ section.id }}">
      {% for block in section.blocks %}
        <a href="{{ block.settings.button_link }}" class="media-grid--grid-item-{{block.id}} {{ block.settings.content_position }}">
          <div class="media-grid--bg-{{ block.id }}">
            {% if block.settings.background_video %}
              <div class="media-grid--bg-video-{{ block.id }}">
                {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
              </div>
            {% elsif block.settings.image != blank %}
              <div class="media-grid--bg-img-{{ block.id }} dg_img_container">
                {% render 'picture', class: '', mobileSrc: block.settings.image_small , desktopSrc: block.settings.image %} 
          </div>
            {% else %}
              <div class="media-grid--bg-svg-{{ block.id }}">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              </div>
            {% endif %}
          </div>
          <div class="media-grid--content-{{ block.id }}">
            {% if block.settings.subheading != blank %}
              <p class="media-grid--content-subheading-{{ block.id }}">{{ block.settings.subheading }}</p>
            {% endif %}
            {% if block.settings.heading != blank %}
              <h4 class="h3 media-grid--content-heading-{{ block.id }} fw_5_7">{{ block.settings.heading }}</h4>
            {% endif %}
            {% if block.settings.button_text != blank %}
              <a href="{{ block.settings.button_link }}" class="text-button media-grid-button-{{ block.id }}">
                {{ block.settings.button_text }}
                <span>
                  <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L5 5L1 9" stroke="{{ block.settings.button_link_color }}" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            {% endif %}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>

{% style %}
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    {% for block in section.blocks %}
      .media-grid--grid-{{ section.id }} {
        display: grid;
        grid-template-columns: repeat(10,minmax(0,1fr));
        grid-template-rows: repeat( {{ section.blocks.size | divided_by: 2 }} ,minmax(0,{{ section.settings.desktop_height }}px) );
        gap: {{ section.settings.col_spacing }}px;
        grid-auto-rows: minmax({{ section.settings.desktop_height }}px,auto);
      }
      .media-grid--grid-item-{{block.id}} {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 5.7rem 0;
        border-radius: {{ block.settings.border_radius }}px;
        overflow: hidden;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
        grid-row: span {{block.settings.row_count}};
        grid-column: span {{block.settings.col_count}};
      }
      .media-grid--bg-img-{{ block.id }}, .media-grid--bg-svg-{{ block.id }}, .media-grid--bg-video-{{ block.id }} {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
      }
      .media-grid--bg-img-{{ block.id }} img, .media-grid--bg-video-{{ block.id }} video {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      {% if block.settings.background_gradient != blank %}
        .media-grid--bg-svg-{{ block.id }} {
          background: {{ block.settings.background_gradient }};
        }
      {% else %}
        .media-grid--bg-svg-{{ block.id }} {
          background-color: {{ block.settings.background_color }};
        }
      {% endif %}
      .media-grid--bg-svg-{{ block.id }} .placeholder-svg {
        display: none;
      }
      .media-grid--bg-video-{{ block.id }} video, .media-grid--bg-img-{{ block.id }} img {
        cursor: pointer;
        pointer-events: none;
        transition: all 1s cubic-bezier(.104,.204,.492,1);
      }
      {% if section.settings.media_hover %}
        .media-grid--grid-item-{{block.id}}:hover video, .media-grid--grid-item-{{block.id}}:hover img {
          transform: scale(1.07);
        }
      {% endif %}
      .media-grid--content-{{ block.id }} > * {
        width: 100%;
        color: {{ block.settings.body_text_color }};
        text-align: {{ block.settings.content_align }};
      }
      .media-grid-button-{{ block.id }} {
        display: block;
        color: {{ block.settings.button_link_color }};
      }
      .media-grid--content-{{ block.id }} {
        display: flex;
        flex-direction: column;
      }
      .media-grid--content-subheading-{{ block.id }} {
        font-size: 12px;
        margin: 0 0 20px 0;
        font-weight: 500;
        line-height: 19.2px;
        letter-spacing: .1em;
        word-spacing: 0.001em;
        text-transform: uppercase;
      }
      .media-grid--content-heading-{{ block.id }} {
        margin: 0;
        letter-spacing: -0.02em;
        line-height: {{ block.settings.heading_size | plus: 8}}px;
      }
      .media-grid-button-{{ block.id }} {
        font-size: 15px;
        line-height: 15px;
      }
    {% endfor %}
    
    @media only screen and (min-width: 768px) and (max-width: 1067px) {
      {% for block in section.blocks %}
       .media-grid--content-heading-{{ block.id }} {
          font-size: {{ block.settings.heading_size | minus: 8 }}px;
          line-height: {{ block.settings.heading_size }}px;
        }
      {% endfor %}
    }
    @media only screen and (max-width: 767px) {
      .padding-{{ section.id }} {
        padding-top: {{ section.settings.padding_top | divided_by: 2  }}px;
        padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
      }
      {% for block in section.blocks %}
        .media-grid--grid-{{ section.id }} {
          gap: {{ section.settings.row_spacing }}px ;
          grid-template-rows: repeat( {{ section.settings.row_mobile }}, {{section.settings.mobile_height}}px );
        }
        .media-grid--grid-item-{{block.id}} {
          grid-column: span 10;
          padding: 25px;
        }
        .media-grid--content-heading-{{ block.id }} {
          line-height: {{ block.settings.heading_size }}px;
        }
      {% endfor %}
    }
  {% endstyle %}

{% schema %}
  {
    "name": "Dynamic grid",
    "settings": [
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "text",
        "label": "Heading",
        "id": "heading",
        "default": "Exclusive $ Collections ",
        "info": "add $ symbol to show Park Avenue logo"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 5,
        "unit": "px",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "header",
        "content": "Row height and number"
      }, {
        "type": "range",
        "id": "desktop_height",
        "min": 200,
        "max": 650,
        "step": 5,
        "unit": "px",
        "label": "Desktop row height",
        "default": 300
      }, {
        "type": "range",
        "id": "mobile_height",
        "min": 200,
        "max": 800,
        "step": 10,
        "unit": "px",
        "label": "mobile row height",
        "default": 600
      },{
        "type": "range",
        "id": "row_mobile",
        "min": 1,
        "max": 10,
        "step": 1,
        "label": "Mobile row number",
        "default": 4
      } ,{
        "type": "select",
        "id": "col_spacing",
        "label": "Column spacing",
        "options": [
          {
            "value": "10",
            "label": "Small"
          }, {
            "value": "17.5",
            "label": "Medium"
          }, {
            "value": "30",
            "label": "Large"
          }
        ],
        "default": "17.5"
      },{
        "type": "select",
        "id": "row_spacing",
        "label": "Row spacing mobile",
        "options": [
          {
            "value": "10",
            "label": "Small"
          }, {
            "value": "16",
            "label": "Medium"
          }, {
            "value": "32",
            "label": "Large"
          }
        ],
        "default": "16"
      }, {
        "type": "checkbox",
        "id": "media_hover",
        "label": "Media hover",
        "default": true,
        "info": "check box if hover effect is required on media"
      }
    ],
    "blocks": [
      {
        "type": "image-with-text-overlay",
        "name": "Media",
        "limit": 10,
        "settings": [
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "2800 x 1000 .jpg recommended for full screen layouts."
          },
          {
            "type": "image_picker",
            "id": "image_small",
            "label": "Image (mobile)"
          },
          {
            "type": "url",
            "id": "block_link",
            "label": "Block link",
            "info": "Adds a link to block."
          },
          {
            "type": "header",
            "content": "Video"
          }, {
            "type": "checkbox",
            "id": "background_video",
            "label": "Use video as background",
            "default": false
          }, {
            "type": "video",
            "id": "video",
            "label": "Shopify-hosted video",
            "info": "Overrides the Video URL setting."
          }, {
            "type": "checkbox",
            "id": "autoplay_video",
            "label": "Video will be muted",
            "default": true
          }, {
            "type": "header",
            "content": "Layout"
          }, {
            "type": "range",
            "id": "col_count",
            "min": 1,
            "max": 8,
            "step": 1,
            "unit": "px",
            "label": "Column",
            "default": 2
          }, {
            "type": "range",
            "id": "row_count",
            "min": 1,
            "max": 8,
            "step": 1,
            "unit": "px",
            "label": "Row",
            "default": 1
          },
          {
        "type": "range",
        "id": "border_radius",
        "min": 0,
        "max": 20,
        "step": 2,
        "unit": "px",
        "label": "Block Border Radius",
        "default": 0
      },
          {
            "type": "header",
            "content": "Content"
          }, {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Add a tagline"
          }, {
            "type": "textarea",
            "id": "heading",
            "label": "Heading",
            "default": "Block Heading "
          }, {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "options": [
              {
                "value": "28",
                "label": "Small"
              }, {
                "value": "32",
                "label": "Medium"
              }, {
                "value": "42",
                "label": "Large"
              }
            ],
            "default": "32"
          }, {
            "type": "text",
            "id": "button_text",
            "label": "Button Label",
            "default": "Buy now",
            "info": "Leave the label blank to hide the button."
          }, {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          }, {
            "type": "select",
            "id": "content_position",
            "label": "Content position",
            "options": [
              {
                "value": "top-left",
                "label": "Top left"
              },
              {
                "value": "top-right",
                "label": "Top right"
              },
              {
                "value": "top-center",
                "label": "Top center"
              },
              {
                "value": "middle-left",
                "label": "Middle left"
              }, {
                "value": "middle-center",
                "label": "Middle center"
              }, {
                "value": "middle-right",
                "label": "Middle right"
              }, {
                "value": "bottom-left",
                "label": "Bottom left"
              }, {
                "value": "bottom-center",
                "label": "Bottom center"
              }, {
                "value": "bottom-right",
                "label": "Bottom right"
              }
            ],
            "default": "top-left"
          }, {
            "type": "select",
            "id": "content_align",
            "label": "Content align",
            "options": [
              {
                "value": "left",
                "label": "Left"
              }, {
                "value": "center",
                "label": "Center"
              }, {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left"
          }, {
            "type": "select",
            "id": "content_width",
            "label": "Content width",
            "options": [
              {
                "value": "300",
                "label": "Small"
              }, {
                "value": "360",
                "label": "Medium"
              }, {
                "value": "520",
                "label": "Large"
              }
            ],
            "default": "360"
          }, {
            "type": "header",
            "content": "Colors"
          }, {
            "type": "color",
            "id": "background_color",
            "label": "Background",
            "default": "#69679C"
          }, {
            "type": "color_background",
            "id": "background_gradient",
            "label": "Background Gradient"
          }, {
            "type": "color",
            "id": "body_text_color",
            "label": "Text",
            "default": "#FFFFFF"
          }, {
            "type": "color",
            "id": "button_link_color",
            "label": "Link",
            "default": "#FFFFFF"
          }, {
            "type": "color",
            "id": "overlay_color",
            "label": "Overlay",
            "default": "#FFFFFF"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Dynamic grid",
        "blocks": [
          {
            "type": "image-with-text-overlay"
          }, {
            "type": "image-with-text-overlay"
          }
        ]
      }
    ]
  }
{% endschema %}