{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}
<div class="section-{{ section.id }}-padding color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    <div class="image_text_custom_main">
      {% if section.settings.heading != blank %}
        {% render "text-with-logo"
          , text: section.settings.heading
          , css_class: "h2  mb-3 custom-heading" %}
      {% endif %}
      <div class="image_text_container">
        <div class="it_img_container">
          {% render 'picture' mobileSrc: section.settings.image_small
            , desktopSrc: section.settings.image_desktop %}
        </div>
        <div class="it_text_container">
          {%- for block in section.blocks -%}
            {% case block.type %}

              {% when 'title' %}
                <div class="it_title h2">
                  {{ block.settings.title }}
                </div>

              {% when 'description' %}
                <div class="it_subtitle caption">
                  {{ block.settings.subtitle }}
                </div>

              {% when 'button' %}
                <a href="{{ block.settings.button_url }}" class=" button button--primary">
                  <span class="custom-btn-text">
                    {{ block.settings.button_text }}
                  </span>
                  <span>
                    {% render 'button-icon' %}
                  </span>
                </a>

            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Image Text Custom",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "label": "Heading",
        "id": "heading",
        "default": "STORE $ LOCATOR"
      },
      {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "Color Scheme",
        "default": "background-1"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }, {
        "type": "image_picker",
        "label": "Image (mobile)",
        "id": "image_small"
      }, {
        "type": "image_picker",
        "label": "Image (desktop)",
        "id": "image_desktop"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title",
            "default": "Find Your Store"
          }
        ]
      }, {
        "type": "description",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "label": "Description",
            "id": "subtitle",
            "default": "<p>subtitle</p>"
          }
        ]
      }, {
        "type": "button",
        "name": "Button",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "label": "Button Text",
            "id": "button_text",
            "default": "View Store"
          }, {
            "type": "url",
            "label": "Button URL",
            "id": "button_url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image Text Custom"
      }
    ]
  }
{% endschema %}