{{ 'home-custom.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  {% if section.settings.image_flow %}
    .park_trending_image_text_carousel .park_trending_image_box {
      position: relative;
      bottom: 20px;
    }

    .park_trending_image_text_carousel .park_trending_overflow_image {
      margin-top: 20px;
      padding: 0px 20px 0px 20px;
    }
  {% else %}
    .park_trending_image_text_carousel .park_trending_image_box {
      position: relative;
      bottom: 0px;
    }
    
    .park_trending_image_text_carousel .park_trending_overflow_image {
      margin-top: 0px;
      padding: 0px 0px 0px 0px;
    }
  {% endif %}


  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media screen and (max-width:749px){
    .park_trending_overflow_image{
      background-color:{{ section.settings.image_background }};
    }
  }
</style>

<div class="section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="park_trending_image_text_carousel">
      {% if section.settings.heading != blank %}
        {% render 'text-with-logo', text: section.settings.heading, css_class: 'h2 mb-3' %}
      {% endif %}

      <splide-carousel
        class="splide"
        id="{{ section.id }}"
        data-desktop-per-page="3"
        data-mobile-per-page="1"
        data-gap="59"
        data-gaptab="20"
        data-desktop-arrow=""
        data-mobile-arrow="true"
        data-desktop-pagination=""
        data-mobile-pagination="true"
      >
        <div class="splide__arrows img_txt_carousel_arrows park_trending_pd_il">
          <button class="splide__arrow splide__arrow--prev">
            {% render 'splide-left-arrow' %}
          </button>
          <button class="splide__arrow splide__arrow--next">
            {% render 'splide-right-arrow' %}
          </button>
        </div>
        <div class="splide__track">
          <div class="splide__list">
            {% for block in section.blocks %}
              {%- case block.type -%}
                {%- when 'image_text' -%}
                  <div class="splide__slide trending_slides">
                    <a href="{{ block.settings.link }}">
                      <div class="park_trending_overflow_image" style="background: {{ section.settings.image_background }}">
                        <div class="park_trending_image_box">
                          {% render 'picture',
                            class: '',
                            mobileSrc: block.settings.mobile_image,
                            desktopSrc: block.settings.desktop_image
                          %}
                        </div>
                      </div>
                    </a>
                    <p class="h4 park_trending_title">{{ block.settings.title }}</p>
                  </div>
              {%- endcase -%}
            {% endfor %}
          </div>
        </div>
      </splide-carousel>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Park trending",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Enter heading text"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "color",
      "id": "image_background",
      "label": "Background color"
    },
    {
      "type": "checkbox",
      "id": "image_flow",
      "label": "Image overflow",
      "default": true
    }
  ],
  "blocks": [
    {
      "name": "image text",
      "type": "image_text",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Select desktop image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Select mobile image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Enter title"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Choose url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Park trending"
    }
  ]
}
{% endschema %}
