{{ 'home-custom.css' | asset_url | stylesheet_tag }}

<style>
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .park_shop_the_look .hotspot_first {
    position: absolute;
    top: {{ section.settings.first_hotspot_top | times: 4 | round: 0 }}px;
    left: {{ section.settings.first_hotspot_left }}px;
  }

  .park_shop_the_look .hotspot_second {
    position: absolute;
    top: {{ section.settings.second_hotspot_top | times: 4 | round: 0 }}px;
    right: {{ section.settings.second_hotspot_right }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .park_shop_the_look .hotspot_first {
      position: absolute;
      top: {{ section.settings.first_hotspot_top }}px;
      left: {{ section.settings.first_hotspot_left | times: 2 | round: 0  }}px;
    }

    .park_shop_the_look .hotspot_second {
      position: absolute;
      top: {{ section.settings.second_hotspot_top }}px;
      right: {{ section.settings.second_hotspot_right | times: 1.5 }}px;
    }
  }
</style>

<div class="section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="park_shop_image_text_carousel">
      {% if section.settings.heading != blank %}
        {% render 'text-with-logo', text: section.settings.heading, css_class: 'h1 mb-3' %}
      {% endif %}

      <splide-carousel
        class="splide"
        id="{{ section.id }}"
        data-desktop-per-page="1"
        data-mobile-per-page="1"
        data-gap="0"
        data-desktop-arrow=""
        data-mobile-arrow="true"
        data-desktop-pagination="true"
        data-mobile-pagination="true"
      >
        <div class="splide__arrows img_txt_carousel_arrows park_latest_pd_il">
          <button class="splide__arrow splide__arrow--prev">
            {% render 'splide-left-arrow' %}
          </button>
          <button class="splide__arrow splide__arrow--next">
            {% render 'splide-right-arrow' %}
          </button>
        </div>
        <div class="splide__track">
          <div class="splide__list">
            {% for block in section.blocks %}
              {%- case block.type -%}
                {%- when 'image_text' -%}
                  <div class="splide__slide park_shop_the_look">
                    <a href="{{ block.settings.link }}">
                      <div class="park_latest_collection_image_box">
                        {% render 'picture',
                          class: '',
                          mobileSrc: block.settings.mobile_image,
                          desktopSrc: block.settings.desktop_image
                        %}
                      </div>
                    </a>
                    <div class="hotspot_first">
                      <div class="hotspot_first_content">
                        <svg
                          class="svg_first hotspot_circle"
                          xmlns="http://www.w3.org/2000/svg"
                          width="43"
                          height="43"
                          viewBox="0 0 43 43"
                          fill="none"
                        >
                          <path d="M21.0092 35.4375C13.5586 35.4375 7.50089 29.4032 7.50089 21.9375C7.50089 14.4718 13.5586 8.4375 21.0092 8.4375C28.4599 8.4375 34.5176 14.4718 34.5176 21.9375C34.5176 29.4032 28.4599 35.4375 21.0092 35.4375Z" fill="white"/>
                          <path d="M21.0092 35.4375C13.5586 35.4375 7.50089 29.4032 7.50089 21.9375C7.50089 14.4718 13.5586 8.4375 21.0092 8.4375C28.4599 8.4375 34.5176 14.4718 34.5176 21.9375C34.5176 29.4032 28.4599 35.4375 21.0092 35.4375Z" stroke="#7FFF79" stroke-opacity="0.212827" stroke-width="15"/>
                          <path d="M21.0092 35.4375C13.5586 35.4375 7.50089 29.4032 7.50089 21.9375C7.50089 14.4718 13.5586 8.4375 21.0092 8.4375C28.4599 8.4375 34.5176 14.4718 34.5176 21.9375C34.5176 29.4032 28.4599 35.4375 21.0092 35.4375Z" stroke="white" stroke-width="15"/>
                        </svg>
                        <svg
                          class="svg_third"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 384 512"
                          width="25.47"
                          height="30px"
                        >
                          <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/>
                        </svg>
                        <div class="first_popup_box">
                          <div class="first_popup_pic">
                            {% render 'picture',
                              class: '',
                              mobileSrc: block.settings.first_popup_image,
                              desktopSrc: block.settings.first_popup_image
                            %}
                          </div>
                          <p class="body">{{ block.settings.first_popup_title }}</p>
                        </div>
                      </div>
                    </div>
                    <div class="hotspot_second">
                      <div class="hotspot_second_content">
                        <svg
                          class="svg_second hotspot_circle"
                          xmlns="http://www.w3.org/2000/svg"
                          width="43"
                          height="43"
                          viewBox="0 0 43 43"
                          fill="none"
                        >
                          <path d="M21.0092 35.4375C13.5586 35.4375 7.50089 29.4032 7.50089 21.9375C7.50089 14.4718 13.5586 8.4375 21.0092 8.4375C28.4599 8.4375 34.5176 14.4718 34.5176 21.9375C34.5176 29.4032 28.4599 35.4375 21.0092 35.4375Z" fill="white"/>
                          <path d="M21.0092 35.4375C13.5586 35.4375 7.50089 29.4032 7.50089 21.9375C7.50089 14.4718 13.5586 8.4375 21.0092 8.4375C28.4599 8.4375 34.5176 14.4718 34.5176 21.9375C34.5176 29.4032 28.4599 35.4375 21.0092 35.4375Z" stroke="#7FFF79" stroke-opacity="0.212827" stroke-width="15"/>
                          <path d="M21.0092 35.4375C13.5586 35.4375 7.50089 29.4032 7.50089 21.9375C7.50089 14.4718 13.5586 8.4375 21.0092 8.4375C28.4599 8.4375 34.5176 14.4718 34.5176 21.9375C34.5176 29.4032 28.4599 35.4375 21.0092 35.4375Z" stroke="white" stroke-width="15"/>
                        </svg>
                        <svg
                          class="svg_fourth"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 384 512"
                          width="25.47"
                          height="30px"
                        >
                          <path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/>
                        </svg>
                        <div class="second_popup_box">
                          <div class="second_popup_pic">
                            {% render 'picture',
                              class: '',
                              mobileSrc: block.settings.second_popup_image,
                              desktopSrc: block.settings.second_popup_image
                            %}
                          </div>
                          <p class="body">{{ block.settings.second_popup_title }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
              {%- endcase -%}
            {% endfor %}
          </div>
        </div>
      </splide-carousel>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const allCircles = document.querySelectorAll('.hotspot_circle');

    allCircles.forEach((element) => {

      element.nextElementSibling.style.display = 'none';
      element.nextElementSibling.nextElementSibling.style.display = 'none';

      element.addEventListener('mouseover', (event) => {
        event.target.nextElementSibling.style.display = 'block';
        event.target.nextElementSibling.nextElementSibling.style.display = 'block';
      });

      element.addEventListener('mouseleave', (event) => {
        event.target.nextElementSibling.style.display = 'none';
        event.target.nextElementSibling.nextElementSibling.style.display = 'none';
      });

    });
  });
</script>
{% schema %}
{
  "name": "Park shop the looks",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Enter heading text"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "first_hotspot_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "First hotspot top",
      "default": 20
    },
    {
      "type": "range",
      "id": "first_hotspot_left",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "First hotspot left",
      "default": 20
    },
    {
      "type": "range",
      "id": "second_hotspot_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Second hotspot top",
      "default": 20
    },
    {
      "type": "range",
      "id": "second_hotspot_right",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Second hotspot right",
      "default": 70
    }
  ],
  "blocks": [
    {
      "name": "image text",
      "type": "image_text",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Select desktop image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Select mobile image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Choose url"
        },
        {
          "type": "image_picker",
          "id": "first_popup_image",
          "label": "first popup image"
        },
        {
          "type": "text",
          "id": "first_popup_title",
          "label": "Popup 1 title text"
        },
        {
          "type": "image_picker",
          "id": "second_popup_image",
          "label": "Second popup image"
        },
        {
          "type": "text",
          "id": "second_popup_title",
          "label": "Popup 2 title text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Park shop the looks"
    }
  ]
}
{% endschema %}
