{{ 'style-feeds.css' |  asset_url |  stylesheet_tag }}
{% comment %} {{ 'custom.css' |  asset_url |  stylesheet_tag }} {% endcomment %}
<script src="{{ 'custom.js' |  asset_url }}" defer="defer"></script>
{% style %}
    .padding-{{ section.id }} {
        padding-top: {{ section.settings.mobile-padding-top }}px;
        padding-bottom: {{ section.settings.mobile-padding-bottom  }}px;
        @media screen and (min-width: 750px){
            padding-top: {{ section.settings.padding-top }}px;
            padding-bottom: {{ section.settings.padding-bottom  }}px;
        }
    }
{% endstyle %}

<div class="padding-{{ section.id }}">
    <div class="page-width">
        {% if section.settings.title != blank %}
            {% render "section-heading", text: section.settings.title, css_class: "h2" %}
        {% endif %}
    </div>
    <div class="page-width main-style-feed-slider splide mt-3" id="main-slider">
        <div class="splide__track">
            <ul class="splide__list">
                {% for block in section.blocks %}
                    <li class="splide__slide">
                        {% if block.settings.image != blank and block.settings.mobile_image != blank %}
                            {% render "picture", class: "media media--16-9 desktop-image", desktopSrc: block.settings.image %}
                            {% render "picture", class: "media media--portrait mobile-image", mobileSrc: block.settings.mobile_image %}
                        {%elsif block.settings.video != blank %}
                            <div class="video_container">
                                {{ block.settings.video | video_tag: autoplay: false, loop: true, muted: true, controls: true }}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="page-width main-style-feed-thumbnail-slider splide" id="thumbnail-slider">
        <div class="splide__track">
            {% render "splide-arrows" %}
            <ul class="splide__list">
                {% for block in section.blocks %}
                    <li class="splide__slide">
                        {% if block.settings.image != blank and block.settings.mobile_image != blank %}
                            {% render "picture", class: "media media--square", mobileSrc: block.settings.image, desktopSrc: block.settings.image  %}
                        {% elsif block.settings.video != blank %}
                            {% render "picture", class: "media media--square", mobileSrc: block.settings.video.poster, desktopSrc: block.settings.video.poster %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>   
</div>
{% schema %}
    {
        "name": "Trend forecast",
        "settings": [
            {
                "type": "richtext",
                "id": "title",
                "label": "Enter section title",
                "info": "Enter $ symbol wherever you want to include brand logo"
            },
            {
                "type": "header",
                "content": "Mobile padding settings"
            },
            {
                "type": "range",
                "id": "mobile-padding-top",
                "label": "Top padding",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "default": 48
                },
                {
                "type": "range",
                "id": "mobile-padding-bottom",
                "label": "Bottom padding",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "default": 0
            },
            {
                "type": "header",
                "content": "Desktop padding settings"
            },
            {
                "type": "range",
                "id": "padding-top",
                "label": "Top padding",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "default": 64
                },
                {
                "type": "range",
                "id": "padding-bottom",
                "label": "Bottom padding",
                "min": 0,
                "max": 100,
                "step": 4,
                "unit": "px",
                "default": 0
            }
        ],
        "blocks": [
            {
                "type": "slide-media",
                "name": "Slide media",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Select image"
                    },
                    {
                        "type": "image_picker",
                        "id": "mobile_image",
                        "label": "Select image for mobile"
                    },
                    {
                        "type": "video",
                        "id": "video",
                        "label": "Select video",
                        "info": "If image is already selected, based on priority image will be shown"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Style feeds"
            }
        ]
    }
{% endschema %}